body{ background-color: #f4f4f4;
	  color: #555555;
	  font-family: Arial,Helvetica,Sans-Scrif;
	  font-size: 16px
	  font-weight:normal;
	  line-height: 1.25em;
	  margin: 5px;

	}
a{ text-decoration: none;
   color: #000;
}

a:hover{ color: red;

}

a:active{color: green;
}

a:visited{}	
.cotainer{ width: 80%;
		   margin:auto;
}

.button{padding: 10px 15px;
	color: #fff;
	border: none;
	background-color: #333;}
.button:hover{ color: #fff;
				background: red; }
.clr{clear:both; }				 	  

.box-1{ background-color:#333;
	 	color: #fff;
	 	border: 5px red solid; 
	 	padding: 20px;
	 	margin: 20px 0px;
}

.box-1 h1{ font-family: Tahoma
		   font-weight: 800px;
		   font-style: italic;
		   text-decoration: underline;
		   text-transform: uppercase;
		   letter-spacing: 0.1em;
		   word-spacing: 1em;
} 

.box-2{ border: 1px grey dotted;
		padding: 20px;
		margin: 20px 0px; 

}

.Categories{ border: 1px grey solid;
			 padding: 10px;
			 border-radius: 10px;

}

.Categories h1{ text-align: center;	

}

.Categories ul{ padding-left:15px; 
				list-style: none;

}
.Categories li{ padding-bottom: 6px;
				border-bottom: dotted grey;
				list-style-image: url(images/Check.png);
}
.my-form{padding: 20px;
}
.my-form ,.from-group{ padding-bottom: 15px;}
.my-form label{display: block;}
.my-form input[type="text"],[type="Email"],.my-form textarea {padding: 8px;width: 100%;}
.block{ padding: 10px;
		border: 1px solid grey;
		float: left;
		width: 33.3%;
		box-sizing:border-box;
		border-radius: 5px;
}
#main-block{
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;

}
#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 15px;
	box-sizing: border-box;
}
.p-box{
	width:760px;
	height:500px;
	border: 1px solid #000;
	margin-top: 30px; 
	position: relative;
	background-image: url(images/box.jpg);
	background-repeat: no-repeat;
	background-position:100px 200px;
	background-position: center top;
	

	
}
.p-box h1{
	position: absolute;
	top:100px;
	left: 100px; 
}
.p-box h2{
	position: absolute;
	bottom: 40px;
	right: 100px;
}
.fix-me{
	position: fixed;
	top:400px;}
.my-list li:first-child{
	background: blue;
}
.my-list li:last-child{
	background: red;
}
.my-list li:nth-child(5){
	background: yellow;
}	
.my-list li:nth-child(even){
	background: grey;
}
.my-list li{
	margin: 1px;
	width: 722px;
}			
